<h2>Show micropost</h2>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @micropost.content %>
  </li>

  <li>
    <strong>UserId:</strong>
    <%= @micropost.user_id %>
  </li>

</ul>

<%= link "Back", to: micropost_path(@conn, :index) %>