<h2>Show user</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @user.password %>
  </li>

  <%= for post <- @user.microposts do %>
  <li>
    <strong>Content</strong>
    <%= post.content %>
  </li>
  <% end %>

</ul>

<%= link "Back", to: user_path(@conn, :index) %>